<nav class="rtl navbar navbar-expand-md navbar-dark bg-dark">
  <a style="margin-top:-10px;color:pink;
font-family:ToyorAljanah;font-size:2.25rem;font-weight:bolder" class="navbar-brand" href="#"><i class="fa fa-heart"
      aria-hidden="true"></i>زواج<i class="fa fa-heart" aria-hidden="true"></i></a>

  <ul style="letter-spacing:1px;font-weight:bold;font-family:'JF Flat';font-size:1.2rem" class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">الرئيسية </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">بحث</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">تواصل</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">دردشة</a>
    </li>
    <li class="nav-item">
      <a *ngIf="LogedIn()" class="nav-link" (click)="LogedOut()">خروج</a>
    </li>
  </ul>
  <div class="dropdown">
    <a *ngIf="LogedIn()" style="letter-spacing:1px;font-weight:bold;font-family:'JF Flat';font-size:1.2rem" class="dropdown-toggle text-light nav-link">
      مرحبا بك
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item"><i class="fa fa-user-o" aria-hidden="true"></i>
        ملفي الشحصي</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"><i class="fa fa-user-out"></i>
        نسجيل الخروح</a>
    </div>
  </div>
  <form *ngIf="!LogedIn()" (ngSubmit)="Login()" #LoginForm="ngForm" class="form-inline my-2 my-lg-0">
    <input #username="ngModel" name="username" required class="form-control mr-sm-2" type="text"
      [(ngModel)]="model.username" placeholder="إسم المشترك">
    <input name="password" required class="form-control mr-sm-2" type="password" [(ngModel)]="model.password"
      placeholder="كلمة السر">
    <button [disabled]="!LoginForm.valid" style="font-weight:bold;font-family:'JF Flat';font-size:1.0rem"
      class="btn btn-secondary my-2 my-sm-0" type="submit">تفضل
      بالدخول</button>
  </form>
</nav>

<!-- <pre>
  Form Valid : {{LoginForm.valid}}
  Form Touched : {{LoginForm.touched}}
  Form Dirty : {{LoginForm.dirty}}
  Form Values : {{LoginForm.value | json}}
</pre> -->